<settings>
    <personalities>
        <personality>
            <id>0</id>
            <name>
                Extraversion
            </name>
            <minvalue>0</minvalue>
            <maxvalue>100</maxvalue>
        </personality>
        <personality>
            <id>1</id>
            <name>
                Egoism
            </name>
            <minvalue>1</minvalue>
            <maxvalue>100</maxvalue>
        </personality>
        <personality>
            <id>2</id>
            <name>
                Thoroughness
            </name>
            <minvalue>0</minvalue>
            <maxvalue>100</maxvalue>
        </personality>
        <personality>
            <id>3</id>
            <name>
                EmotionalStability
            </name>
            <minvalue>0</minvalue>
            <maxvalue>100</maxvalue>
        </personality>
        <personality>
            <id>4</id>
            <name>
                Introverion
            </name>
        </personality>
        <personality>
            <id>5</id>
            <name>
                Altruism
            </name>
        </personality>
        <personality>
            <id>
                6
            </id>
            <name>
                Chaoticness
            </name>
        </personality>
        <personality>
            <id>
                7
            </id>
            <name>Neuroticism</name>
        </personality>
    </personalities>
    <spawnpoints>
        <spawnpoint>
            <x>10.0</x>
            <y>0.98</y>
            <z>10.0</z>
        </spawnpoint>
        <spawnpoint>
            <x>5.0</x>
            <y>0.98</y>
            <z>15.0</z>
        </spawnpoint>
    </spawnpoints>
    <modelnames>
        <modelname>SpartanKingPrefab</modelname>
    </modelnames>
</settings>