<settings>
    <personalities>
        <personality>
            <id>0</id>
            <name>
                Extraversion
            </name>
            <minvalue>0</minvalue>
            <maxvalue>100</maxvalue>
        </personality>
        <personality>
            <id>1</id>
            <name>
                Egoism
            </name>
            <minvalue>1</minvalue>
            <maxvalue>100</maxvalue>
        </personality>
        <personality>
            <id>2</id>
            <name>
                Thoroughness
            </name>
            <minvalue>0</minvalue>
            <maxvalue>100</maxvalue>
        </personality>
        <personality>
            <id>3</id>
            <name>
                EmotionalStability
            </name>
            <minvalue>0</minvalue>
            <maxvalue>100</maxvalue>
        </personality>
    </personalities>
    <animations>
        <animation>
            <name>cast</name>
            <personalities>
                <personality>5</personality>
                <personality>1</personality>
                <personality>3</personality>
                <personality>2</personality>
                <personality>7</personality>
                <personality>6</personality>
                <personality>4</personality>
                <personality>8</personality>
            </personalities>
        </animation>
        <animation>
            <name>walk</name>
            <personalities>
                <personality>1</personality>
                <personality>6</personality>
                <personality>8</personality>
            </personalities>
        </animation>
        <animation>
            <name>hit1</name>
            <personalities>
                <personality>3</personality>
                <personality>8</personality>
            </personalities>
        </animation>
        <animation>
            <name>run</name>
            <personalities>
                <personality>5</personality>
                <personality>4</personality>
            </personalities>
        </animation>
        <animation>
            <name>hit2</name>
            <personalities>
                <personality>5</personality>
                <personality>2</personality>
                <personality>7</personality>
                <personality>6</personality>
            </personalities>
        </animation>
        <animation>
            <name>attack1</name>
            <personalities>
                <personality>1</personality>
                <personality>6</personality>
                <personality>8</personality>
            </personalities>
        </animation>
        <animation>
            <name>attack2</name>
            <personalities>
                <personality>3</personality>
                <personality>2</personality>
                <personality>4</personality>
            </personalities>
        </animation>
        <animation>
            <name>pow_attack</name>
            <personalities>
                <personality>8</personality>
            </personalities>
        </animation>
    </animations>
</settings>